.clippy-container {
	overflow: hidden;
	position: absolute;
	width: 100%;
	bottom: 0;
	/* height: 400px; */
	padding-top: 3px;
}
.clippy {
	height: 100%;
	width: 100%;
	bottom: 0;
	animation-name: slide-in;
	animation-duration: 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}
.clippy img {
	margin-top: -15px;
	height: 200px;
}
.clippy.hidden {
	animation-name: slide-out;
	animation-duration: 1.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

@keyframes slide-in {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slide-out {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(200%);
	}
}
